@model Historias_Clinicas.Models.Medico

@{
    ViewData["Title"] = "Create";
}

<h1>Formulario de Alta</h1>

<h4>Medico</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MatriculaNacional" class="control-label"></label>
                <input asp-for="MatriculaNacional" class="form-control" />
                <span asp-validation-for="MatriculaNacional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Especialidad" class="control-label"></label>
                <select asp-for="Especialidad" class="form-control">
                    <option value="1">@Especialidad.Cardiologia</option>
                    <option value="2">@Especialidad.ClinicaMedica</option>
                    <option value="3">@Especialidad.Dermatologia</option>
                    <option value="4">@Especialidad.Enfermeria</option>
                    <option value="5">@Especialidad.Gastroenterologia</option>
                    <option value="6">@Especialidad.Ginecologia</option>
                    <option value="7">@Especialidad.Laboratorio</option>
                    <option value="8">@Especialidad.Nefrología</option>
                    <option value="9">@Especialidad.Neumología</option>
                    <option value="10">@Especialidad.Neurología</option>
                    <option value="11">@Especialidad.Nutricion</option>
                    <option value="12">@Especialidad.Oncologia</option>
                    <option value="13">@Especialidad.OncologiaPediatrica</option>
                    <option value="14">@Especialidad.Otorrinolaringologia</option>
                    <option value="15">@Especialidad.Pediatría</option>
                    <option value="16">@Especialidad.Psiquiatría</option>
                    <option value="17">@Especialidad.Rehabilitación</option>
                    <option value="18">@Especialidad.Reumatología</option>
                    <option value="19">@Especialidad.Traumatologia</option>
                </select>
                <span asp-validation-for="Especialidad" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input"  asp-for="EstaActivo" /> @Html.DisplayNameFor(model => model.EstaActivo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SegundoNombre" class="control-label"></label>
                <input asp-for="SegundoNombre" class="form-control" />
                <span asp-validation-for="SegundoNombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDeAlta" class="control-label"></label>
                <input asp-for="FechaDeAlta" class="form-control" />
                <span asp-validation-for="FechaDeAlta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <input type="submit" value="Cancelar" class="btn btn-secondary"  />
            </div>
        </form>
    </div>
</div>

<div>
   <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
