@model IEnumerable<Historias_Clinicas.Models.Medico>

@{
    ViewData["Title"] = "Index";
}

<h1>Medicos</h1>
@if(User.IsInRole("Empleado")){
<p align="right">
    <a type="button" class="btn btn-link justify-content-md-end mb-3" asp-action="Create">Agregar Medico</a>
</p>}

@*CÓDIGO PARA EL FILTRO DE BÚSQUEDA*@
<div class="d-md-flex justify-content-md-start">
    <form method="get" action=@Url.Action("Index", "Medico" )>
        <div class="btn-group">
            @Html.TextBox("buscar", null, new
            {
                placeholder = "texto de búsqueda",
                                    @class = "form-control"
            })
        </div>
        <button class="btn btn-primary" type="submit">Buscar</button>
    </form>
</div>

@*CÓDIGO PARA LA TABLA DE DATOS*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MatriculaNacional)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MatriculaNacional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegundoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (User.IsInRole("Empleado"))
                    {
                        <div class="divBoton">
                            <a class="boton small" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                            <a class="boton small" asp-action="Details" asp-route-id="@item.Id">Detalle</a>
                            <a class="boton small" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        </div>}
                </td>
            </tr>
        }
    </tbody>
</table>
