@model IEnumerable<Historias_Clinicas.Models.MedicoPaciente>
@{

    ViewData["Title"] = "ListarPacientes";
}

<h1>Mis Pacientes</h1>

<<<<<<< HEAD
=======

>>>>>>> develop
<table class="table">
    <thead>
        <tr>
            <th>
<<<<<<< HEAD
                @Html.DisplayNameFor(model => model.PacienteId)
            </th>
            <th>
=======
                @Html.DisplayNameFor(model => model.MedicoId)
            </th>
            @*<th>
>>>>>>> develop
                @Html.DisplayNameFor(model => model.Paciente.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.SegundoNombre)
            </th>
            <th>
<<<<<<< HEAD
                @Html.DisplayNameFor(model => model.Paciente.ObraSocial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.HistoriaClinicaId)
            </th>

=======
                @Html.DisplayNameFor(model => model.Paciente.Email)
            </th>*@
>>>>>>> develop


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
<<<<<<< HEAD
                    @Html.DisplayFor(modelItem => item.PacienteId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.SegundoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.ObraSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.HistoriaClinicaId)
                </td>
                
             
=======
                    @Html.DisplayFor(modelItem => item.MedicoId)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Paciente.Apellido)
                </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SegundoNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>

                    </td>*@
>>>>>>> develop
            </tr>
        }
    </tbody>
</table>
<<<<<<< HEAD
<a class="boton" asp-action="MenuMedico" asp-controller="Medicos">Salir</a>
=======
<a class="boton" asp-action="MenuPaciente" asp-controller="Pacientes">Salir</a>
>>>>>>> develop
