@model IEnumerable<Historias_Clinicas.Models.Paciente>
@{

    ViewData["Title"] = "ListarPacientes";
}

<header>
    <h1>Mis Pacientes</h1>
    <h3> Listado de Pacientes</h3>
    <p style="background-color: white; color: black; font-weight: bold; font-size:larger" align="left"> Número de Matricula : @ViewData["MatriculaNacional"] </p>
    <br />
</header>

<section class="search-section">
    <div class="container">
        <form method="get" asp-action="Buscar" asp-controller="Pacientes" novalidate="novalidate">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <input type="text" class="form-control search-input" name="historiaClinica" placeholder="Buscar por Historia Clinica" />
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-12 p-0" style="margin-left: 10px">
                            <button class="btn btn-info search-button" type="submit">
                                Buscar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<br/>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>
                Historia Clinica Nro.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SegundoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HistoriaClinicaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SegundoNombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a class="botonTablas" asp-action="Details" asp-controller="Pacientes" asp-route-id="@item.Id">Detalle</a>
                    <a class="botonTablas" asp-action="HistoriaClinicaDePaciente" asp-controller="HistoriaClinicas" asp-route-id="@item.Id">Historia Clinica</a>

                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
<br/>
<a type="boton" class="btn btn-secondary align-content-end" asp-action="MenuMedico" asp-controller="Medicos">Salir</a>
