@model IEnumerable<Historias_Clinicas.Models.MedicoPaciente>
@{

    ViewData["Title"] = "ListarPacientes";
}

<h1>Mis Pacientes</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicoId)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Paciente.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.SegundoNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Paciente.Email)
            </th>*@


            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicoId)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Paciente.Apellido)
                </td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SegundoNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>

                    </td>*@
            </tr>
        }
    </tbody>
</table>
<a class="botonTablas" asp-action="MenuPaciente" asp-controller="Pacientes">Salir</a>
