@model IEnumerable<Historias_Clinicas.Models.Evolucion>

@{
    ViewData["Title"] = "EvolucionesPorEpisodio";
}


<header>
    <h1>Evoluciones</h1>
    <br />
    <h3>Listado de Evoluciones cargadas para el Episodio  @TempData["EpisodioId"] </h3>
    <br />
    <br />
</header>

@if (User.IsInRole("Medico"))
{
    var estado = @ViewBag.estadoEpisodio;

    if (estado)
    {
        <p align="right">
            <a type="button" class="botonAgregar" asp-action="Create" asp-controller="Evoluciones" asp-route-Id="@TempData["EpisodioId"]">
                Agregar Evolucion
            </a>

        </p>
    }
}
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoAbierto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraCierre)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaYHoraInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstadoAbierto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaYHoraAlta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaYHoraCierre)
                </td>
                <td>
                    <a class="botonTablas" asp-action="Details" asp-route-Id="@item.Id" asp-route-paciente="@TempData["historiaId"]">Detalles</a>

                    @if (User.IsInRole("Medico"))
                    {
                        <a class="botonTablas" asp-action="Edit" asp-route-Id="@item.Id">Editar</a>
                        @if (item.EstadoAbierto)
                        {
                            <a class="botonTablas" asp-action="Cerrar" asp-route-Id="@item.Id" asp-route-historiaClinicaId="@TempData["historiaId"]">Cerrar </a>
                        }
                        else
                        {
                            <a class="botonTablas" asp-action="Create" asp-controller="Notas" asp-route-Id="@item.Id">Agregar Nota</a>

                        }
                    }

                    @if (User.IsInRole("Empleado"))
                    {
                        @if (!item.EstadoAbierto)
                        {
                            <a class="botonTablas" asp-action="Create" asp-controller="Notas" asp-route-Id="@item.Id">Agregar Nota</a>
                        }

                    }

                    <a class="botonTablas" asp-action="NotasPorEvolucion" asp-controller="Notas" asp-route-Id="@item.Id" asp-route-historiaClinicaId="@TempData["historiaId"]">Notas</a>
                </td>
            </tr>
        }


    </tbody>
</table>
<br />

<div>

    <a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="HistoriaClinicaDePaciente" asp-controller="HistoriaClinicas" asp-route-Id="@TempData["PacienteId"]">Volver</a>
</div>
