@model IEnumerable<Historias_Clinicas.Models.Evolucion>

@{
    ViewData["Title"] = "EvolucionesPorEpisodio";
}


<header>
    <h1>Episodio</h1>
    <h3> Listado de Evoluciones</h3>
    <p></p>
    <p></p>
    <p style="background-color: white; color: black; font-weight: bold; font-size:larger" align="left"> Numero de Episodio : @ViewData["episodioId"] </p>
</header>

@if (User.IsInRole("Medico"))

{
    <p align="right">
        <a type="button" class="btn btn-link justify-content-md-end mb-3" asp-action="Create" asp-controller="Evoluciones" asp-route-Id="@ViewData["episodioId"]">
            Agregar Evolucion
        </a>

    </p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraCierre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoAbierto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescripcionAtencion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.MedicoId)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.FechaYHoraInicio)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.FechaYHoraAlta)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.FechaYHoraCierre)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.EstadoAbierto)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.DescripcionAtencion)
                </td>
                <td>
                    @if (User.IsInRole("Medico"))
                    {
                        <p align="right">
                            
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                        </p>
                    }

                   
                    <a class="boton small" asp-action="NotasPorEvolucion" asp-controller="Notas" asp-route-id="@item.Id">Notas</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |

                </td>
            </tr>
        }


    </tbody>
</table>