@model Historias_Clinicas.Models.Direccion

@{
    ViewData["Title"] = "Create";
}

<h1>Completar Datos</h1>
<br/>

<h4>Direccion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Calle" class="control-label"></label>
                <input asp-for="Calle" class="form-control" />
                <span asp-validation-for="Calle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Altura" class="control-label"></label>
                <input asp-for="Altura" class="form-control" />
                <span asp-validation-for="Altura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Piso" class="control-label"></label>
                <input asp-for="Piso" class="form-control" />
                <span asp-validation-for="Piso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departamento" class="control-label"></label>
                <input asp-for="Departamento" class="form-control" />
                <span asp-validation-for="Departamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Localidad" class="control-label"></label>
                <input asp-for="Localidad" class="form-control" />
                <span asp-validation-for="Localidad" class="text-danger"></span>
            </div>
            <div class="form-group">

                @if (@ViewData["esMedico"] != null)
                {
                    <input class="boton" type="submit" asp-route-id="@ViewBag.PersonaId" value="Guardar" asp-action="Index" asp-controller="Medicos" />
                }
                @if (@ViewData["esEmpleado"] != null)
                {
                    <input class="boton" type="submit" asp-route-id="@ViewBag.PersonaId" value="Guardar" asp-action="Index" asp-controller="Empleados" />
                }
                @if (@ViewData["esPaciente"] != null)
                {
                    <input class="boton" type="submit" asp-route-id="@ViewBag.PersonaId" value="Guardar" asp-action="Index"  asp-controller="Pacientes"/>
                }
                <a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="Index">Cancelar</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
