@model Historias_Clinicas.Models.Diagnostico

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar este Diagnostico?</h3>
<div>
    <h4>Diagnostico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EpicrisisId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EpicrisisId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Recomendacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Recomendacion)
        </dd>
     
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="Index">Volver</a>
    </form>
</div>
