@model IEnumerable<Historias_Clinicas.Models.Episodio>

@{
    ViewData["Title"] = "HistoriaClinicaDePaciente";
}



<header>

    <h1>Historia Clinica</h1>
    <h2>@TempData["nombrePaciente"]</h2>
    <br />
    <h3>Episodios</h3>
    <h3>Listado de Episodios cargados dentro de la Historia Clinica @TempData["historiaId"] </h3>

</header>





@if (User.IsInRole("Empleado"))
{
    <p align="right">
        <a type="button" class="boton" asp-action="Create" asp-controller="Episodios" asp-route-Id="@TempData["historiaId"]">
            Agregar Episodio
        </a>

    </p>
}


<table class="table">
    <thead>
        <tr>
            <th class="text-left">
                Abierto
            </th>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.FechaYHoraInicio)
            </th>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.FechaYHoraCierre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.EstadoAbierto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHoraInicio)
            </td>
            <td class="text-left">
                @*@Html.DisplayNameFor(model => model.FechaYHoraCierre)*@
           
                @if (item.EstadoAbierto == true)
                {
                    <p>Aun en curso</p>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.FechaYHoraCierre)


                }
            </td>
            <td>
                <a class="botonTablas" asp-action="Details" asp-controller="Episodios" asp-route-id="@item.Id" asp-route-paciente="@TempData["historiaId"]">Detalle</a>
                @if (User.IsInRole("Empleado"))
                {

                    @*<a class="botonTablas" asp-action="Edit" asp-route-id="@item.Id">Editar</a>*@
                    @*<a class="botonTablas" asp-action="Cerrar" asp-controller="Episodios" asp-route-id="@item.Id" asp-route-paciente="@TempData["historiaId"]">Cerrar Episodio</a>*@
                    @if (item.EstadoAbierto)
                    {
                        <a class="botonTablas" asp-action="CierreAdministrativo" asp-controller="Diagnosticos" asp-route-id="@item.Id" asp-route-paciente="@TempData["historiaId"]">Cierre Administrativo</a>
                    }}
                @if (User.IsInRole("Medico"))
                {

                    @if (item.EstadoAbierto)
                    {
                        <a class="botonTablas" asp-action="Cerrar" asp-controller="Episodios" asp-route-id="@item.Id" asp-route-paciente="@TempData["historiaId"]">Dar Alta</a>
                    }
                }

                <a class="botonTablas" asp-action="EvolucionesPorEpisodio" asp-controller="Evoluciones" asp-route-id="@item.Id" asp-route-paciente="@TempData["historiaId"]">Evoluciones</a>

                <a class="botonTablas" asp-action="EpicrisisPorEpisodio" asp-controller="Epicrisis" asp-route-id="@item.Id" asp-route-paciente="@TempData["historiaId"]">Epicrisis</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Paciente"))
{
    <div>
        <a class="boton" align="right" asp-action="MenuPaciente" asp-controller="Pacientes">Volver</a>
    </div>
}
else
{
   <div>
        <a class="boton" align="right" asp-action="Index" asp-controller="Pacientes">Volver</a>
    </div>  
}

