@model IEnumerable<Historias_Clinicas.Models.Episodio>

@{
    ViewData["Title"] = "HistoriaClinicaDePaciente";
}



<header>

    <h1>Historia Clinica</h1>
    <h2>@TempData["nombrePaciente"]</h2>
    <br />
    <h3>Listado de Episodios cargados dentro de la Historia Clinica @TempData["historiaId"] </h3>
    <br />
    <br />
</header>





@if (User.IsInRole("Empleado"))
{
    <p align="right">
        <a type="button" class="botonAgregar" asp-action="Create" asp-controller="Episodios" asp-route-Id="@TempData["historiaId"]" asp-route-PacienteId="@TempData["pacienteId"]">
            Agregar Episodio
        </a>
        <a type="button" class="botonAgregar" asp-action="EpisodiosAbiertos" asp-controller="Episodios" asp-route-Id="@TempData["historiaId"]">
            Episodios Abiertos
        </a>

    </p>
}


<table class="table">
    <thead>
        <tr>
            <th class="text-left">
               Episodio Nro.
            </th>
            <th class="text-left">
                Abierto
            </th>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.FechaYHoraInicio)
            </th>
            <th class="text-left">
                @Html.DisplayNameFor(model => model.FechaYHoraCierre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.EstadoAbierto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Especialidad)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaYHoraInicio)
                </td>
                <td class="text-left">
                    @if (item.EstadoAbierto == true)
                    {
                        <p>Aun en curso</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.FechaYHoraCierre)


                    }
                </td>
                <td>
                    <a class="botonTablas" asp-action="Details" asp-controller="Episodios" asp-route-id="@item.Id" asp-route-historiaClinicaId="@TempData["historiaId"]">Detalle</a>
                    @if (User.IsInRole("Empleado"))
                    {
                        @if (item.EstadoAbierto)
                        {
                            <a class="botonTablas" asp-action="CerrarAdministrativo" asp-controller="Episodios" asp-route-id="@item.Id" asp-route-historiaClinicaId="@TempData["historiaId"]">Cierre Administrativo</a>
                        }
                    }
                    @if (User.IsInRole("Medico"))
                    {

                        @if (item.EstadoAbierto)
                        {
                            <a class="botonTablas" asp-action="Cerrar" asp-controller="Episodios" asp-route-id="@item.Id" asp-route-Id="@TempData["historiaId"]" asp-route-pacienteId="@TempData["pacienteId"]">Dar Alta</a>
                        }
                    }

                    <a class="botonTablas" asp-action="EvolucionesPorEpisodio" asp-controller="Evoluciones" asp-route-id="@item.Id" asp-route-historiaClinicaId="@TempData["historiaId"]">Evoluciones</a>
                    
                    @if (!item.EstadoAbierto)
                        {
                        <a class="botonTablas" asp-action="Details" asp-controller="Epicrisis" asp-route-episodioId="@item.Id">Epicrisis</a>
                        }             
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Paciente"))
{
    <div>
        <a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="MenuPaciente" asp-controller="Pacientes">Volver</a>
    </div>
}
@if (User.IsInRole("Empleado"))
{
    <div>
        <a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="Index" asp-controller="Pacientes">Volver</a>
    </div>
}
@if (User.IsInRole("Medico"))
{
    <div>
        <a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="ListarPacientes" asp-controller="Medicos">Volver</a>
    </div>
}
