@model IEnumerable<Historias_Clinicas.Models.HistoriaClinica>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PacienteId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
       <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteId)
            </td>
            <td>
                
                @if (User.IsInRole("Medico"))
                {
                    <div class="divBoton">
                            <a class="botonTablas" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <aclass ="botonTablas" asp-action="Details" asp-route-id="@item.Id">Detalles</aclass> |
                            <aclass ="botonTablas" asp-action="Delete" asp-route-id="@item.Id">Borrar</aclass>

                        </div>
                }
               
          </td>
                <td>  
                {
                    <div class="divBoton">
                        <a class="botonTablas" asp-action="Index" asp-controller="Episodios" asp-route-id="@item.Id">Acceso Episodios</a>

                    </div>
                }
                </td>
             
            
        </tr> 
}
    </tbody>
</table>
