@model Historias_Clinicas.Models.Epicrisis

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar esta Epicrisis?</h3>
<div>
    <h4>Epicrisis</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MedicoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MedicoId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaYHora)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" asp-action="EpicrisisPorEpisodio" asp-route-id="@TempData["episodioId"]"/>
        <a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="EpicrisisPorEpisodio" asp-route-id="@TempData["episodioId"] ">Volver</a>
    </form>
</div>
