@model IEnumerable<Historias_Clinicas.Models.Epicrisis>

@{
    ViewData["Title"] = "EpicrisisPorEpisodio";
}


<header>
    <h1>Epicrisis</h1>
    <br />
    <h3>Listado de Epicrisis cargadas dentro del Episodio  @ViewData["episodioId"] </h3>
    <br />
    <br />
</header>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EpisodioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MedicoId) 
            <th>
                @Html.DisplayNameFor(model => model.FechaYHora)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EpisodioId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaYHora)
                </td>
                <td>
                    <a class="botonTablas" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="botonTablas" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                    <a class="botonTablas" asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                    <a class="botonTablas" asp-action="DiagnosticoPorEpicrisis" asp-controller="Diagnosticos" asp-route-id="@item.Id">Diagnostico</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<br />
<br />

<div>
    <a type="button" class="btn btn-secondary" asp-action="HistoriaClinicaDePaciente" asp-controller="HistoriaClinicas" asp-route-id="@ViewData["pacienteId"]">Volver</a>
</div>
