@model IEnumerable<Historias_Clinicas.Models.Epicrisis>

@{
    ViewData["Title"] = "Index";
}

<h1>Epicrisis</h1>

<p>
    <a asp-action="Create">Agregar Epicrisis</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MedicoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacienteId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resumen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasInternacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraIngreso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MedicoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PacienteId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resumen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiasInternacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHoraAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaYHoraIngreso)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
