@model IEnumerable<Historias_Clinicas.Models.Episodio>

@{
    ViewData["Title"] = "Index";
}

<h1>Episodios</h1>

@if (User.IsInRole("Empleado"))
{
    <p align="right">
        <a type="button" class="btn btn-link justify-content-md-end mb-3" asp-action="Create">Agregar Episodio</a>
    </p>}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoAbierto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHoraCierre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Id)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.EstadoAbierto)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Especialidad)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.Internacion)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.FechaYHoraInicio)
            </td>
            <td>
                @Html.DisplayNameFor(model => model.FechaYHoraCierre)
            </td>
            <td>
                @if (User.IsInRole("Empleado, Medico"))
                {
                    <div class="divBoton">
                        <a class="boton small" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="boton small" asp-action="Details" asp-route-id="@item.Id">Detalle</a>
                        @*<a class="boton small" asp-action="Create" asp-controller="Notas" asp-route-id="@item.Id">Crear Nota</a>
*@
                    </div>}
            </td>
               
        </td>   
                
                    <div class="divBoton">
                        <a class="boton small" asp-action="Index" asp-controller="Evoluciones" asp-route-id="@item.Id">Evoluciones</a>
                
                    </div>
                }
        </td>
        </tr>
        }
    </tbody>
</table>
