@model Historias_Clinicas.Models.Nota

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Esta seguro que desea eliminar esta Nota?</h3>
<br/>
<div>
    <h4>Nota</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mensaje)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaYHora)
        </dd>
        <dt class="col-sm-2">
            Registró
        </dt>
        <dd class="col-sm-10">
            @ViewBag.EmpleadoNombre
        </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input class="boton" type="submit" value="Eliminar"/> 
        <a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="NotasPorEvolucion" asp-controller="Notas" asp-route-id="@TempData["evolucionId"]" asp-route-historiaClinicaId="@TempData["historiaClinicaId"]">Volver</a>
    </form>
</div>

