@model Historias_Clinicas.Models.Nota

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Nota</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mensaje)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaYHora)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaYHora)
        </dd>
        <dt class="col-sm-2">
            Registro
        </dt>
        <dd class="col-sm-10">
            @ViewBag.EmpleadoNombre
        </dd>
    </dl>
</div>
<div>
    <a class="boton" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="NotasPorEvolucion" asp-controller="Notas" asp-route-id="@TempData["evolucionId"]">Volver</a>
</div>

