@model IEnumerable<Historias_Clinicas.Models.Nota>

@{
    ViewData["Title"] = "NotasPorEvolucion";
}

<header>
    <h1>Notas</h1>
    <br />
    <h3> Listado de Notas cargadas para la Evolución @ViewData["evolucionId"] </h3>
    <br />
    <br />
</header>

@if (User.IsInRole("Medico"))

@*{
    <p align="right">
        <a type="button" class="btn btn-link justify-content-md-end mb-3" asp-action="Create" asp-controller="Notas" asp-route-Id="@ViewData["evolucionId"]">
            Agregar Nota
        </a>

    </p>
}*@

@if (User.IsInRole("Empleado"))

{
    <p align="right">
        <a type="button" class="btn btn-link justify-content-md-end mb-3" asp-action="Create" asp-controller="Notas" asp-route-Id="@ViewData["evolucionId"]">
            Agregar Nota
        </a>

    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaYHora)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaYHora)
                </td>
                <td>
                    @if (User.IsInRole("Medico"))
                    {
                        <a class="botonTablas" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                      
                    }

                    <a class="botonTablas" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                </td>

            </tr>
        }
    </tbody>
</table>

<div>
    <a type="button" class="btn btn-secondary" style="margin-left: 20px" asp-action="EvolucionesPorEpisodio" asp-controller="Evoluciones" asp-route-id="@TempData["EpisodioId"]" asp-route-historiaClinicaId="@TempData["historiaId"]">Volver</a>
</div>


